In [1]:
import function as f

In [2]:
f.review_cnt_check('외장하드')

0번째 item 25271683의 review 수 : 570
1번째 item 57040999의 review 수 : 206
2번째 item 14820704의 review 수 : 1480
3번째 item 4889527의 review 수 : 3036
4번째 item 60867504의 review 수 : 80
5번째 item 49867193의 review 수 : 263
6번째 item 88785654의 review 수 : 37
7번째 item 1148353의 review 수 : 2412
8번째 item 25271665의 review 수 : 690
9번째 item 14820704의 review 수 : 1480
10번째 item 4956527의 review 수 : 1771
11번째 item 49867193의 review 수 : 263
12번째 item 1148353의 review 수 : 2412
13번째 item 1148365의 review 수 : 1538
14번째 item 14820704의 review 수 : 1480
15번째 item 4956527의 review 수 : 1771
16번째 item 49867193의 review 수 : 263
17번째 item 1148353의 review 수 : 2412
18번째 item 1148365의 review 수 : 1538
19번째 item 25271665의 review 수 : 690
20번째 item 59340200의 review 수 : 42
21번째 item 1632419의 review 수 : 349
22번째 item 1148353의 review 수 : 2412
23번째 item 87782199의 review 수 : 59
24번째 item 14820704의 review 수 : 1480
25번째 item 25271665의 review 수 : 690
26번째 item 26660601의 review 수 : 403
27번째 item 1148353의 review 수 : 2412
28번째 item 20144525의 review 수 : 34
29번째 item 14820708의 review 수 : 343
30번째 item 87782199의 review 수 : 59
31번째 item 4956527의 review 수 : 1771
32번째 item 78265173의 review 수 : 29
33번째 item 1148365의 review 수 : 1538
34번째 item 103678834의 review 수 : 2
35번째 item 26660601의 review 수 : 403
0번째부터 99번째 item의 총 review 수 : 36418

In [36]:
%%time
df_train = f.make_df_train('외장하드', 50, 100)

총 100개의 상품에서 중복제거 후 33개의 상품 크롤링
100개 상품 중 review가 없는 상품 수 : 0
외장하드's Top100 Review Total Count : 12105
외장하드's Top100 Filtered Review Count : 5226
Wall time: 3min 49s

In [4]:
df_train.tail()

,rating,rating_filtered,item_nbr,item,option,date,name,full_review,pos,pos_filtered
4283,5,1,49867193,도시바 칸비오 어드밴스 외장하드 DTC920,2TB,2018.03.28,남*경,. 믿고 쓰는 도시바~ 디자인도 좋아졌어요~,"[(., SF), (믿, VV), (고, ECE), (쓰, VV), (는, ETD)...","[고,도시바,디자인,]"
4284,5,1,49867193,도시바 칸비오 어드밴스 외장하드 DTC920,2TB,2018.03.24,윤*성,. 속도도 빠르고 컴팩트하니 귀엽네요,"[(., SF), (속도, NNG), (도, JX), (빠르, VA), (고, EC...","[속도,빠르,고,컴팩트,귀엽,]"
4285,5,1,49867193,도시바 칸비오 어드밴스 외장하드 DTC920,2TB,2018.03.12,고*성,. 굳 좋음,"[(., SF), (굳, VV), (좋음, UN)]","[좋음,]"
4286,5,1,49867193,도시바 칸비오 어드밴스 외장하드 DTC920,2TB,2018.03.07,강*,. 배송이 겁나빠르군용,"[(., SF), (배송, NNG), (이, JKS), (겁, NNG), (나, V...","[배송,겁,빠르,]"
4287,5,1,49867193,도시바 칸비오 어드밴스 외장하드 DTC920,2TB,2018.02.25,노*훈,. 아직 사용은 안 했지만 좋은 가격에 잘 샀습니다~,"[(., SF), (아직, MAG), (사용, NNG), (은, JX), (안, M...","[아직,사용,안,지만,좋,가격,잘,]"

In [84]:
# 크롤링 raw 데이터와 read_csv로 가져온 데이터 concat하지 말 것
# 데이터 타입 다름!!

In [37]:
import csv
df_train.to_csv("keyword1_50_100.csv", index=False)

In [57]:
df_train_1 = pd.read_csv("keyword1_0_10.csv")
df_train_2 = pd.read_csv("keyword1_10_50.csv")
df_train_3 = pd.read_csv("keyword1_50_100.csv")

In [61]:
df_train_concat = pd.concat([df_train_1, df_train_2, df_train_3]).reset_index()

In [62]:
len(df_train_concat)

13806

In [64]:
# pos_filtered 컬럼에 대해서 아래 작업 필수
df_train_concat['pos_filtered'] = df_train_concat['pos_filtered'].apply(lambda a: a.split("'")[1:-1])
# pos_filtered 컬럼은 하나의 스트링이 한 리스트 안에 들어가 있는 형태이므로
# 스트링의 쿼트를 기준으로 split해서 대괄호와 스트링을 분리한 후 스트링만 리스트에 남긴다

# rating, pos 컬럼도 작업이 필요하지만 pos 컬럼은 완벽하게 작업 현재로서는 불가
df_train_concat['rating'] = df_train_concat['rating'].apply(lambda a: str(a))

In [33]:
# display(df_train_2[i][3742])
# display(df_train_2[i][3742].split("'"))
# display(df_train_2[i][3742].split("'")[1:-1])

"['좋,']"

['[', '좋,', ']']

['좋,']

In [34]:
# col_ls = list(df_train.columns)
# for i in col_ls:
#     display(df_train[i][3742])
#     display(df_train_2[i][3742])
#     display(df_train[i][3742] == df_train_2[i][3742])

In [77]:
X_train = f.Vectorizer_train(df_train_concat, 'EHD', stop_words=['고'])
y_train = df_train_concat['rating_filtered']

In [78]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
import pickle

model = MultinomialNB()
model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
print(classification_report(y_train, y_train_pred))
pickle.dump(model, open('model_EHD_0_100_13806.pkl', "wb"))

             precision    recall  f1-score   support

          0       0.78      0.77      0.77       989
          1       0.98      0.98      0.98     12817

avg / total       0.97      0.97      0.97     13806

In [69]:
df_test = f.make_df_test("http://www.coupang.com/vp/products/4889527?itemId=5732888&vendorItemId=3007282849&q=%EC%99%B8%EC%9E%A5%ED%95%98%EB%93%9C&itemsCount=36&searchId=e98a629f3cc445fe87eca88c374e3333&rank=3")

씨게이트 익스펜션 포터블 드라이브 STEA1000400's Review Total Count : 3036
씨게이트 익스펜션 포터블 드라이브 STEA1000400's Filtered Review Count : 1342

In [75]:
X_test, voca = f.Vectorizer_test(df_test, 'EHD')
y_test = df_test['rating_filtered']

In [79]:
model = pickle.load(open("model_EHD_0_100_13806.pkl", "rb"))
y_test_pred = model.predict(X_test)
print(classification_report(y_test, y_test_pred))

             precision    recall  f1-score   support

          0       0.70      0.77      0.73        57
          1       0.99      0.99      0.99      1285

avg / total       0.98      0.98      0.98      1342

In [80]:
df_test_1 = f.make_df_test("http://www.coupang.com/vp/products/1148365?itemId=36098831&vendorItemId=3003474751&q=%EC%99%B8%EC%9E%A5%ED%95%98%EB%93%9C&itemsCount=36&searchId=e98a629f3cc445fe87eca88c374e3333&rank=15")

레토 외장하드 L2SU's Review Total Count : 1538
레토 외장하드 L2SU's Filtered Review Count : 631

In [81]:
X_test_1, voca = f.Vectorizer_test(df_test_1, 'EHD')
y_test_1 = df_test_1['rating_filtered']

In [83]:
model = pickle.load(open("model_EHD_0_100_13806.pkl", "rb"))
y_test_pred_1 = model.predict(X_test_1)
print(classification_report(y_test_1, y_test_pred_1))

             precision    recall  f1-score   support

          0       0.81      0.72      0.76        69
          1       0.97      0.98      0.97       562

avg / total       0.95      0.95      0.95       631

In [84]:
f.top_word_negative(X_test_1, y_test_pred_1, voca, 5)

  word  count
0    안     30
1   연결     29
2   인식     22
3   하드     21
4   외장     16

In [85]:
f.top_word_positive(X_test_1, y_test_pred_1, voca, 5)

  word  count
0    좋    290
1    잘    152
2   배송    123
3   빠르    103
4   가격     71

In [25]:
y_test_pred = pd.DataFrame(y_test_pred, columns=['prediction'])

In [40]:
y_test_pred.tail()

      prediction
1336           1
1337           1
1338           1
1339           1
1340           1

In [63]:
neg_or_pos = y_test_pred.groupby(by='prediction').size().reset_index(name='count')
neg = list(neg_or_pos[neg_or_pos['prediction']==0]['count'].values)[0]
display(neg)
pos = list(neg_or_pos[neg_or_pos['prediction']==1]['count'].values)[0]
display(pos, type(pos))

54

1287

numpy.int64

In [ ]:
def neg_or_pos(y_test_pred):
    """
    y_test_pred를 받아서 negative 댓글 개수와 positive 댓글 개수를 int로 반환
    """
    y_test_pred = pd.DataFrame(y_test_pred, columns=['prediction'])
    neg_or_pos = y_test_pred.groupby(by='prediction').size().reset_index(name='count')
    neg = list(neg_or_pos[neg_or_pos['prediction']==0]['count'].values)[0]
    pos = list(neg_or_pos[neg_or_pos['prediction']==1]['count'].values)[0]
    return neg, pos

In [67]:
f.top_word_negative(X_test, y_test_pred, voca, 5)

  word  count
0    안     25
1   인식     23
2   하드     18
3   안되     16
4    없     16

In [66]:
f.top_word_positive(X_test, y_test_pred, voca, 5)

  word  count
0    좋    693
1    잘    350
2   빠르    296
3   배송    252
4  케이스    188