In [1]:
import function as f

In [2]:
f.review_cnt_check('수납장')

0번째 item 24240567의 review 수 : 386
1번째 item 14663251의 review 수 : 916
2번째 item 9383538의 review 수 : 170
3번째 item 6782692의 review 수 : 543
4번째 item 14663245의 review 수 : 657
5번째 item 212560의 review 수 : 1064
6번째 item 1509871의 review 수 : 1353
7번째 item 24070993의 review 수 : 354
8번째 item 47423587의 review 수 : 836
9번째 item 858687의 review 수 : 4968
10번째 item 24070996의 review 수 : 540
11번째 item 24070995의 review 수 : 710
12번째 item 6782692의 review 수 : 543
13번째 item 24070993의 review 수 : 354
14번째 item 24240567의 review 수 : 386
15번째 item 122785302의 review 수 : 19
16번째 item 19049940의 review 수 : 91
17번째 item 8789859의 review 수 : 600
18번째 item 63494366의 review 수 : 56
19번째 item 47423587의 review 수 : 836
20번째 item 1509871의 review 수 : 1353
21번째 item 5346978의 review 수 : 221
22번째 item 9932423의 review 수 : 111
23번째 item 63504593의 review 수 : 44
24번째 item 47423587의 review 수 : 836
25번째 item 39128250의 review 수 : 30
No reviews
27번째 item 1013011의 review 수 : 2098
28번째 item 61778368의 review 수 : 35
29번째 item 1013015의 review 수 : 720
30번째 item 54908569의 review 수 : 26
31번째 item 24070996의 review 수 : 540
32번째 item 1013011의 review 수 : 2098
33번째 item 858687의 review 수 : 4968
34번째 item 3439001의 review 수 : 2226
35번째 item 2982260의 review 수 : 765
36번째 item 24070996의 review 수 : 540
37번째 item 63494366의 review 수 : 56
38번째 item 2576416의 review 수 : 223
39번째 item 212560의 review 수 : 1064
40번째 item 858687의 review 수 : 4968
41번째 item 24070993의 review 수 : 354
42번째 item 31294632의 review 수 : 13
43번째 item 5512842의 review 수 : 834
44번째 item 25969320의 review 수 : 96
45번째 item 46176910의 review 수 : 16
46번째 item 47472750의 review 수 : 160
47번째 item 456963의 review 수 : 162
48번째 item 24093167의 review 수 : 13
49번째 item 18579211의 review 수 : 686
50번째 item 48113516의 review 수 : 255
51번째 item 14155995의 review 수 : 76
52번째 item 37512628의 review 수 : 16
53번째 item 3027233의 review 수 : 8
54번째 item 34860465의 review 수 : 33
55번째 item 67527880의 review 수 : 203
56번째 item 7253111의 review 수 : 267
57번째 item 3439001의 review 수 : 2226
58번째 item 100483502의 review 수 : 3
59번째 item 4059943의 review 수 : 1123
60번째 item 1111097의 review 수 : 1683
61번째 item 4946402의 review 수 : 184
62번째 item 3439001의 review 수 : 2226
63번째 item 53314915의 review 수 : 59
64번째 item 24070993의 review 수 : 354
65번째 item 3027834의 review 수 : 1548
66번째 item 36623519의 review 수 : 93
67번째 item 23752202의 review 수 : 563
68번째 item 1486893의 review 수 : 21
69번째 item 19417848의 review 수 : 46
70번째 item 24070998의 review 수 : 199
71번째 item 23992302의 review 수 : 120
72번째 item 25498095의 review 수 : 33
73번째 item 1486595의 review 수 : 1232
74번째 item 19417846의 review 수 : 72
75번째 item 71035431의 review 수 : 25
76번째 item 178888의 review 수 : 330
77번째 item 5263437의 review 수 : 362
78번째 item 5337847의 review 수 : 285
79번째 item 3555427의 review 수 : 1191
80번째 item 31217457의 review 수 : 58
81번째 item 24070992의 review 수 : 246
82번째 item 36623519의 review 수 : 93
83번째 item 47057009의 review 수 : 125
84번째 item 34261002의 review 수 : 229
85번째 item 29449598의 review 수 : 303
86번째 item 1288255의 review 수 : 941
87번째 item 24070998의 review 수 : 199
88번째 item 30859285의 review 수 : 838
89번째 item 24367230의 review 수 : 3
90번째 item 51518843의 review 수 : 82
91번째 item 24240565의 review 수 : 151
92번째 item 8789859의 review 수 : 600
93번째 item 24070992의 review 수 : 246
94번째 item 6145843의 review 수 : 734
95번째 item 28779988의 review 수 : 84
96번째 item 9383537의 review 수 : 39
97번째 item 1553392의 review 수 : 452
98번째 item 24240567의 review 수 : 386
99번째 item 19417845의 review 수 : 26
0번째부터 99번째 item의 총 review 수 : 61309

In [4]:
%%time
df_train = f.make_df_train('수납장', 0, 10)

총 10개의 상품에서 중복제거 후 9개의 상품 크롤링
10개 상품 중 review가 없는 상품 수 : 0
수납장's Top10 Review Total Count : 9590
수납장's Top10 Filtered Review Count : 5157
Wall time: 6min 40s

In [5]:
display(df_train.tail())

,rating,rating_filtered,item_nbr,item,option,date,name,full_review,pos,pos_filtered
5152,5,1,858687,마켓비 LEITER 600 넓은 4단 선반,레드,2016.03.29,이*선,. 조립두쉽고좋아요,"[(., SF), (조립, NNG), (두, JX), (쉽, VA), (고, ECE...","[조립,쉽,고,좋,]"
5153,5,1,858687,마켓비 LEITER 600 넓은 4단 선반,그레이,2016.03.22,정*경,. 가격이랑 디자인 모두 맘에 듭니다,"[(., SF), (가격, NNG), (이랑, JC), (디자인, NNG), (모두...","[가격,디자인,모두,맘,]"
5154,5,1,858687,마켓비 LEITER 600 넓은 4단 선반,레드,2016.03.19,김*연,. 좋음,"[(., SF), (좋, VA), (음, ETN)]","[좋,]"
5155,5,1,858687,마켓비 LEITER 600 넓은 4단 선반,그레이,2016.03.16,심*수,. 너무좋아요ㅎㅎ 튼튼하구요ㅋ,"[(., SF), (너무, MAG), (좋, VA), (아요, EFN), (ㅎㅎ, ...","[너무,좋,튼튼,하구,ㅋ,]"
5156,4,1,858687,마켓비 LEITER 600 넓은 4단 선반,화이트,2016.01.24,강*훈,. 좋아요 무지,"[(., SF), (좋, VA), (아요, EFN), (무지, NNG)]","[좋,무지,]"

In [84]:
# 크롤링 raw 데이터와 read_csv로 가져온 데이터 concat하지 말 것
# 데이터 타입 다름!!

In [6]:
import csv
df_train.to_csv("storage_0_10.csv", index=False)

In [57]:
df_train_1 = pd.read_csv("keyword1_0_10.csv")
df_train_2 = pd.read_csv("keyword1_10_50.csv")
df_train_3 = pd.read_csv("keyword1_50_100.csv")

In [61]:
df_train_concat = pd.concat([df_train_1, df_train_2, df_train_3]).reset_index()

In [62]:
len(df_train_concat)

13806

In [64]:
# pos_filtered 컬럼에 대해서 아래 작업 필수
df_train_concat['pos_filtered'] = df_train_concat['pos_filtered'].apply(lambda a: a.split("'")[1:-1])
# pos_filtered 컬럼은 하나의 스트링이 한 리스트 안에 들어가 있는 형태이므로
# 스트링의 쿼트를 기준으로 split해서 대괄호와 스트링을 분리한 후 스트링만 리스트에 남긴다

# rating, pos 컬럼도 작업이 필요하지만 pos 컬럼은 완벽하게 작업 현재로서는 불가
df_train_concat['rating'] = df_train_concat['rating'].apply(lambda a: str(a))

In [33]:
# display(df_train_2[i][3742])
# display(df_train_2[i][3742].split("'"))
# display(df_train_2[i][3742].split("'")[1:-1])

"['좋,']"

['[', '좋,', ']']

['좋,']

In [34]:
# col_ls = list(df_train.columns)
# for i in col_ls:
#     display(df_train[i][3742])
#     display(df_train_2[i][3742])
#     display(df_train[i][3742] == df_train_2[i][3742])

In [7]:
X_train = f.Vectorizer_train(df_train, 'Storage', stop_words=['고'])
y_train = df_train['rating_filtered']

In [8]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
import pickle

model = MultinomialNB()
model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
print(classification_report(y_train, y_train_pred))
# pickle.dump(model, open('model_Storage_0_100_5357.pkl', "wb"))

             precision    recall  f1-score   support

          0       0.78      0.68      0.73       533
          1       0.96      0.98      0.97      4624

avg / total       0.94      0.95      0.95      5157

In [9]:
df_test = f.make_df_test("http://www.coupang.com/vp/products/24070993?itemId=93723572&vendorItemId=3165658357&q=%EC%88%98%EB%82%A9%EC%9E%A5&itemsCount=36&searchId=6c94cf7aa1884428bfcc5f39c8e7d63e&rank=7")

제이디퍼니처 로미 3단 서랍장's Review Total Count : 354
제이디퍼니처 로미 3단 서랍장's Filtered Review Count : 177

In [10]:
X_test, voca = f.Vectorizer_test(df_test, 'Storage')
y_test = df_test['rating_filtered']

In [12]:
# model = pickle.load(open("model_BED_0_100_5357.pkl", "rb"))
y_test_pred = model.predict(X_test)
print(classification_report(y_test, y_test_pred))

             precision    recall  f1-score   support

          0       0.83      0.53      0.65        19
          1       0.95      0.99      0.97       158

avg / total       0.93      0.94      0.93       177

In [13]:
f.top_word_negative(X_test, y_test_pred, voca, 15)

   word  count
0    교환      9
1     싸      5
2    물건      5
3    제품      4
4    불량      4
5    너무      4
6    실망      4
7    신청      4
8    가격      3
9    그냥      3
10    같      3
11    후      3
12   정도      3
13    건      3
14    면      3

In [14]:
f.top_word_positive(X_test, y_test_pred, voca, 20)

   word  count
0     좋     93
1    서랍     48
2    생각     38
3     작     32
4     딱     30
5    구매     29
6     같     29
7    가격     27
8     잘     23
9    배송     21
10   지만     20
11   이쁘     18
12    안     17
13   만족     17
14  사이즈     16
15   깔끔     16
16  디자인     15
17   너무     15
18   주문     15
19   색상     14

In [25]:
f.neg_or_pos(y_test_pred)

(31, 203)

In [ ]:
n-그램 해보기, 위 결과에서 그냥 pos부착해서 명사만 반환하게 해보기