In [1]:
import function as f

In [2]:
f.review_cnt_check('침대')

0번째 item 66107016의 review 수 : 107
1번째 item 98321171의 review 수 : 1
2번째 item 44831973의 review 수 : 569
3번째 item 3436115의 review 수 : 279
4번째 item 39024548의 review 수 : 198
5번째 item 102336253의 review 수 : 2525
6번째 item 13351098의 review 수 : 209
7번째 item 30354371의 review 수 : 451
8번째 item 3436115의 review 수 : 279
9번째 item 4276478의 review 수 : 121
10번째 item 5155530의 review 수 : 113
11번째 item 90440244의 review 수 : 1
12번째 item 44831856의 review 수 : 16
13번째 item 1410491의 review 수 : 116
14번째 item 98381219의 review 수 : 69
15번째 item 25291859의 review 수 : 42
16번째 item 27353327의 review 수 : 38
17번째 item 102570053의 review 수 : 13
18번째 item 10093041의 review 수 : 65
19번째 item 43055848의 review 수 : 32
20번째 item 3439472의 review 수 : 54
21번째 item 27353327의 review 수 : 38
22번째 item 48730257의 review 수 : 11
23번째 item 13632304의 review 수 : 106
24번째 item 70069308의 review 수 : 3
25번째 item 3439472의 review 수 : 54
26번째 item 25296055의 review 수 : 17
No reviews
28번째 item 60539649의 review 수 : 3
29번째 item 41068720의 review 수 : 18
30번째 item 40546256의 review 수 : 213
31번째 item 39480959의 review 수 : 36
32번째 item 39024548의 review 수 : 198
33번째 item 700186의 review 수 : 89
34번째 item 30354371의 review 수 : 451
35번째 item 8468924의 review 수 : 146
36번째 item 39480959의 review 수 : 36
37번째 item 72552085의 review 수 : 1
38번째 item 3423413의 review 수 : 31
39번째 item 48730257의 review 수 : 11
No reviews
41번째 item 1914182의 review 수 : 793
42번째 item 60536858의 review 수 : 5
43번째 item 1410491의 review 수 : 116
44번째 item 9493520의 review 수 : 2
45번째 item 9960553의 review 수 : 65
46번째 item 24931463의 review 수 : 25
47번째 item 39203874의 review 수 : 119
48번째 item 18030951의 review 수 : 2
49번째 item 1705276의 review 수 : 17
50번째 item 34041148의 review 수 : 58
51번째 item 48730257의 review 수 : 11
52번째 item 5500582의 review 수 : 27
53번째 item 54912201의 review 수 : 13
54번째 item 36349724의 review 수 : 26
55번째 item 98381219의 review 수 : 69
56번째 item 98281421의 review 수 : 1
57번째 item 28876716의 review 수 : 28
58번째 item 27483676의 review 수 : 5
59번째 item 34041148의 review 수 : 58
60번째 item 4276478의 review 수 : 121
61번째 item 17679340의 review 수 : 35
62번째 item 29439423의 review 수 : 334
63번째 item 23976504의 review 수 : 52
No reviews
65번째 item 3436256의 review 수 : 78
66번째 item 12445381의 review 수 : 4
67번째 item 3436657의 review 수 : 9
68번째 item 13632304의 review 수 : 106
69번째 item 16894484의 review 수 : 41
70번째 item 77463259의 review 수 : 1
71번째 item 23017734의 review 수 : 6
72번째 item 72681809의 review 수 : 7
73번째 item 39056215의 review 수 : 208
74번째 item 9551199의 review 수 : 120
75번째 item 23165006의 review 수 : 247
76번째 item 35781568의 review 수 : 6
77번째 item 765528의 review 수 : 47
78번째 item 3457454의 review 수 : 9
79번째 item 15088852의 review 수 : 146
80번째 item 29584661의 review 수 : 511
81번째 item 3438320의 review 수 : 19
82번째 item 24723233의 review 수 : 48
83번째 item 22664204의 review 수 : 8
84번째 item 54912201의 review 수 : 13
85번째 item 3433072의 review 수 : 18
86번째 item 23755842의 review 수 : 16
87번째 item 24723233의 review 수 : 48
88번째 item 3743120의 review 수 : 49
89번째 item 9071135의 review 수 : 38
90번째 item 16689262의 review 수 : 13
91번째 item 102570534의 review 수 : 48
92번째 item 5621886의 review 수 : 364
93번째 item 3743120의 review 수 : 49
94번째 item 68171172의 review 수 : 2
No reviews
96번째 item 6177211의 review 수 : 9
No reviews
98번째 item 27495516의 review 수 : 3
99번째 item 3743120의 review 수 : 49
0번째부터 99번째 item의 총 review 수 : 11082

In [3]:
%%time
df_train = f.make_df_train('침대', 0, 100)

총 100개의 상품에서 중복제거 후 83개의 상품 크롤링
100개 상품 중 review가 없는 상품 수 : 5
침대's Top100 Review Total Count : 9375
침대's Top100 Filtered Review Count : 5357
Wall time: 9min 4s

In [7]:
display(df_train.tail())

,rating,rating_filtered,item_nbr,item,option,date,name,full_review,pos,pos_filtered
5352,4,1,39480959,보니애가구 엘스카르 슈퍼싱글 소나무 원목 침대 프레임 SS,스노우화이트,2018.08.23,한*라,. 설치기사님 오셔서 설치 다해주시고 디자인도 너무 이뻐서 가격대비 넘 좋아요 ...,"[(., SF), (설치, NNG), (기사님, NNP), (오시, VV), (어서...","[설치,기사님,설치,고,디자인,너무,이쁘,가격,대비,좋,단지,가운데,지지,다리,약하..."
5353,4,1,39480959,보니애가구 엘스카르 슈퍼싱글 소나무 원목 침대 프레임 SS,스노우화이트,2018.06.02,이*욱,. 배송에 대한 부분은 다른 분들처럼 아쉬움이 있습니다 구매 이후 연락을 해서 언...,"[(., SF), (배송, NNG), (에, JKM), (대하, VV), (ㄴ, E...","[배송,부분,분,아쉬움,이후,연락,언제,배송,같,제가,전,어찌,고,깜깜,다만,제품,..."
5354,4,1,39480959,보니애가구 엘스카르 슈퍼싱글 소나무 원목 침대 프레임 SS,스노우화이트,2018.06.25,김*원,. 튼튼한 원목에 도장도 깔끔하고 마감도 잘되어있고 튼튼합니다.배송도 적당했구요....,"[(., SF), (튼튼, NNP), (하, XSV), (ㄴ, ETD), (원목, ...","[튼튼,원목,도장,깔끔,고,마감,고,튼튼,배송,적당,다만,냄새,좀,며칠,환기,고,]"
5355,5,1,39480959,보니애가구 엘스카르 슈퍼싱글 소나무 원목 침대 프레임 SS,스노우화이트,2018.05.21,BJH,. 아주 흰색이아니라 약간 아이보리예요. 예뻐요..튼튼하고 기대 이상입니다!,"[(., SF), (아주, MAG), (흰색, NNG), (이, JKC), (아니,...","[아주,흰색,약간,아이보리,예쁘,튼튼,고,기대,이상,]"
5356,5,1,39480959,보니애가구 엘스카르 슈퍼싱글 소나무 원목 침대 프레임 SS,마린그레이,2018.05.28,박*준,. 마린그레이 그레이테마에 잘어울림 엄청이쁨,"[(., SF), (마린, NNG), (그레이, NNG), (그레이, NNG), (...","[마린,그레이,그레이,테마,잘,어울림,엄청,이쁘,]"

In [84]:
# 크롤링 raw 데이터와 read_csv로 가져온 데이터 concat하지 말 것
# 데이터 타입 다름!!

In [37]:
import csv
df_train.to_csv("keyword1_50_100.csv", index=False)

In [57]:
df_train_1 = pd.read_csv("keyword1_0_10.csv")
df_train_2 = pd.read_csv("keyword1_10_50.csv")
df_train_3 = pd.read_csv("keyword1_50_100.csv")

In [61]:
df_train_concat = pd.concat([df_train_1, df_train_2, df_train_3]).reset_index()

In [62]:
len(df_train_concat)

13806

In [64]:
# pos_filtered 컬럼에 대해서 아래 작업 필수
df_train_concat['pos_filtered'] = df_train_concat['pos_filtered'].apply(lambda a: a.split("'")[1:-1])
# pos_filtered 컬럼은 하나의 스트링이 한 리스트 안에 들어가 있는 형태이므로
# 스트링의 쿼트를 기준으로 split해서 대괄호와 스트링을 분리한 후 스트링만 리스트에 남긴다

# rating, pos 컬럼도 작업이 필요하지만 pos 컬럼은 완벽하게 작업 현재로서는 불가
df_train_concat['rating'] = df_train_concat['rating'].apply(lambda a: str(a))

In [33]:
# display(df_train_2[i][3742])
# display(df_train_2[i][3742].split("'"))
# display(df_train_2[i][3742].split("'")[1:-1])

"['좋,']"

['[', '좋,', ']']

['좋,']

In [34]:
# col_ls = list(df_train.columns)
# for i in col_ls:
#     display(df_train[i][3742])
#     display(df_train_2[i][3742])
#     display(df_train[i][3742] == df_train_2[i][3742])

In [17]:
X_train = f.Vectorizer_train(df_train, 'BED', stop_words=['고'])
y_train = df_train['rating_filtered']

In [18]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
import pickle

model = MultinomialNB()
model.fit(X_train, y_train)
y_train_pred = model.predict(X_train)
print(classification_report(y_train, y_train_pred))
pickle.dump(model, open('model_BED_0_100_5357.pkl', "wb"))

             precision    recall  f1-score   support

          0       0.85      0.56      0.67       465
          1       0.96      0.99      0.97      4892

avg / total       0.95      0.95      0.95      5357

In [9]:
df_test = f.make_df_test("http://www.coupang.com/vp/products/30354371?itemId=204576553&vendorItemId=3484617893&q=%EC%B9%A8%EB%8C%80&itemsCount=36&searchId=195c4c1b2545422187b54167afdd5b8c&rank=34")

가이온 힐마루 단면매트리스 침대 다리포함's Review Total Count : 451
가이온 힐마루 단면매트리스 침대 다리포함's Filtered Review Count : 234

In [19]:
X_test, voca = f.Vectorizer_test(df_test, 'BED')
y_test = df_test['rating_filtered']

In [20]:
model = pickle.load(open("model_BED_0_100_5357.pkl", "rb"))
y_test_pred = model.predict(X_test)
print(classification_report(y_test, y_test_pred))

             precision    recall  f1-score   support

          0       0.84      0.58      0.68        45
          1       0.91      0.97      0.94       189

avg / total       0.89      0.90      0.89       234

In [26]:
f.top_word_negative(X_test, y_test_pred, voca, 15)

   word  count
0    배송     32
1    침대     18
2     안     17
3    다리     16
4     더     14
5     같     11
6    너무     11
7     없     11
8    소리     10
9   스프링     10
10   전화      9
11   ㄴ데      8
12   그냥      7
13    면      7
14   주문      7

In [28]:
f.top_word_positive(X_test, y_test_pred, voca, 20)

    word  count
0      좋    135
1     침대    119
2     배송    111
3     가격     81
4     소리     80
5     다리     72
6     지만     62
7    스프링     59
8     너무     58
9      면     58
10   기사님     50
11     잘     50
12     같     49
13     없     46
14    구매     43
15    설치     41
16    생각     40
17    괜찮     39
18     좀     38
19  매트리스     37

In [25]:
f.neg_or_pos(y_test_pred)

(31, 203)

In [ ]:
n-그램 해보기, 위 결과에서 그냥 pos부착해서 명사만 반환하게 해보기